*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    position: relative;
    width: 100%;
    height: 150vh;
    background-image: url("background test.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header .navbar{
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 30px;
    margin-left: 50px;
}

.header .navbar a{
    color: black;
    font-size: 30px;
    margin-left: 45px;
}

.header .navbar .menu ul{
    margin-left: 192px;
}

.header .navbar .menu ul li{
    display: inline-block;
    margin-right: 30px;
    align-items: center;
}

.header .navbar .menu ul li a{
    color: black;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header .contact-info{
    margin-left: 20px;
}

.header .contact-info ul{
    margin-left: 30px;
}

.header .contact-info ul li{
    display: inline-block;
}

.resSum{
    background-color: bisque;
    display: block;
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 40vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

p1.ital{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

